body {
    font-family: sans-serif;
}
*{
    padding: 1px;
}


/*
.localizaçao {
 
  }
  .localizaçao div {
    display: flex;
    flex-direction: column;  
    gap: 0.1px;  
  } 

.pessoa
  {
    padding-left: 0px; 
  }

  h2 {
    padding-left: 10px;
  }
.caio {
    padding-left: 10px;
} 
button {
    width: 110px;
}

input  {
    width: 150px 
  
  }
  */